html, body {
    background-color: rgb(182, 182, 182);
    padding: 0;
    margin: 0;
}
.welcome{
    background-color:orangered;
    border: solid blanchedalmond;
    text-align: center;
    padding: 50px;
    margin: 20px;
    width: 25%;
    margin-left: 500px;
    margin-top: 150px;
}
.login{
    background-color:orangered;
    border: solid blanchedalmond;
    text-align: center;
    padding: 50px;
    margin: 20px;
    width: 25%;
    margin-left: 500px;
    margin-top: 150px;
}